/***************
*   VARIABLES  *
***************/
:root {
  --first-color: #ffffff;
  --second-color: #2196f3;
  --third-color: #757575;
  --fourth-color: #f5f4fa;

  --fifth-color: #212121;
  --text-size: 16px;

  --first-line-height: 1.7;
  --second-line-height: 1.9;

  --first-weight: 500;
  --second-weight: 700;
  --third-weight: 400;

  --radius: 4px;

  --first-letter-spacing: 0.06em;
  --second-letter-spacing: 0.03em;

  --border: 1px solid #eeeeee;

  --transition: 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

/**********
* GENERAL *
**********/
h1,
h2,
h6,
ul,
li,
a,
p {
  padding: 0;
  margin: 0;
}
body {
  color: var(--fifth-color);
  font-size: 14px;
  font-family: "Roboto", "Raleway", sans-serif;
}

/********************
* FOR ALL LIST ITEM *
********************/
.item {
  list-style: none;
}

/***************
* FOR ALL LINK *
***************/
.link {
  text-decoration: none;
}
/*
  remove font-size from ul
*/
.projects__item,
.about__box,
.team__card,
.filters__list {
  font-size: 0;
}
/* 
=====================================
=====================================

        GENERAL TEXT STYLE
      FOR INDEX AND PORTFOLIO

=====================================
=====================================
*/

/* 

*************************************

          HEADER SECTION

*************************************

*/
/*
  space between link__container and contact__container
*/
.wrapper {
  justify-content: space-between;
}
/*
  container with logo and navigation links
*/
.links__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: calc(6vw + 2px);
}
/* logo link */
.logo__link {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: var(--second-weight);
  letter-spacing: var(--second-letter-spacing);
  color: #000000;
}
/* span color */
.logo__link .logo__web {
  color: var(--second-color);
}
/* Header container */
.header__container {
  background: var(--first-color);
  border-bottom: 1px solid #ececec;
}
/* navigation link and contact link text */
.nav__link,
.contact__link {
  color: var(--fifth-color);
  font-weight: var(--first-weight);
  letter-spacing: 0.02em;
  line-height: 1.14;
  transition: color var(--transition);
}
/* change the color of the link text when the user is on the page that corresponds to the link from the navigation */
.active__link {
  color: var(--second-color);
}
/* navigation link nad contact link color 
  when user hover or focused then color has will change */
.nav__link:hover,
.nav__link:focus,
.contact__link:hover,
.contact__link:focus {
  color: var(--second-color);
  transition: color var(--transition);
}

/* contact link color text  */
.contact__link {
  /* positioning svg and text into contact__link */
  display: flex;
  gap: 10px;
  align-items: center;
  /* color text */
  color: var(--third-color);
}

/*
  header padding
  space bettween top and bottom 
*/
.header__container .container {
  padding: 20px 0;
}

/*
  footer padding and gap to flex list class and logo__container
  space bettween top and bottom 
*/
.footer__box {
  display: flex;
  gap: 70px;
  /* padding: 60px 0; */
}
/*
  overwritting gap from the list class
*/
.header__container .container .contact__container .contact__list {
  gap: 25px;
}
/* 
  container with logo, navigation and contacts
*/
.header__container .container {
  display: flex;
  /* center all links */
  align-items: center;
}
/*
  positioning underline
*/
.active__link {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
/*
  this is a underline when user is in the page 
*/
.active__link::after {
  display: flex;
  position: absolute;
  bottom: -175%;
  content: "";
  background: #2196f3;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}
/* 
=====================================
=====================================

      GENERAL POSITION STYLE
      FOR INDEX AND PORTFOLIO

=====================================
=====================================
*/
/*
  class to position main content into all html pages
*/
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/*
  selector width top and bottom padding 
  (use this to tags if you wanna the same space between them)
*/
.section {
  padding: 94px 0;
}
/*
  global class 
  main container to all list with images
*/
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}
/* 

*************************************

          FOOTER SECTION

*************************************

*/
/* 
  footer container 
*/
.footer__container {
  background: #2f303a;
}
/*
  padding between logo and footer contact links
*/
.footer__container .logo__container {
  padding-bottom: 20px;
}
/* 
  footer logo 
  white color of the logo 
  is only in footer of the container
*/
.footer__container .logo__link {
  color: var(--first-color);
}
/*
  position contact list in footer container
  and overwritting gap from the list class
*/
.footer__container .contact__list {
  flex-flow: column;
  gap: 9px;
}
/* 
  footer contact text 
  white color with alpha is for contact__links in footer container
*/
.footer__container .contact__link {
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: var(--second-letter-spacing);
  font-weight: var(--third-weight);
  line-height: var(--first-line-height);
}
/* 
  footer contact item list 
  white color of the contact name 
  is only for first contact__item in footer container
*/
.footer__container .contact__item {
  color: var(--first-color);
  letter-spacing: var(--second-letter-spacing);
  font-weight: var(--third-weight);
  font-style: normal;
  line-height: var(--first-line-height);
}
/*
  container with social__text and icons
*/
.footer__social {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 72px 0 100px 0;
}
/*
  text into footer__social
*/
.social__text {
  font-weight: var(--second-weight);
  line-height: 1.142;
  letter-spacing: var(--second-letter-spacing);
  text-transform: uppercase;
  color: var(--first-color);
}
/*
  social icons into footer container 
*/
.footer__social .contact__icon {
  display: flex;
  padding: 0;
}
/*
  container with logo and contact into footer container
*/
.footer__info {
  padding: 60px 0;
}
/* 

*************************************

            SOCIAL ICONS

*************************************

*/
/*
  container with icons into team and footer 
  (instagram, tweeter, facebook and linkedin)
*/
.contact__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 30px 0;
}
/*
  ul with social icons
*/
.social__list {
  gap: 10px;
}
/*
  first color from icons when user dosen't hovered or focused
*/
.social__item .icon .first__svg {
  fill: var(--first-color);
  transition: fill var(--transition);
}
/*
  second color from icons when user dosen't hovered or focused
*/
.social__item .icon .second__svg {
  fill: #afb1b8;
  transition: fill var(--transition);
}
/*
****************************
  footer social color icons
****************************
*/
/*
  first color from icons when user dosen't hovered or focused
*/
.footer__social .social__item .icon .first__svg {
  fill: rgba(255, 255, 255, 0.1);
  transition: fill var(--transition);
}
/*
  second color from icons when user dosen't hovered or focused
*/
.footer__social .social__item .icon .second__svg {
  fill: var(--first-color);
  transition: fill var(--transition);
}
/*
****************************
  hover social color icons
   footer and team icons
****************************
*/
/*
  change first color when user hovered or focused 
*/
.social__item:hover .icon .first__svg,
.social__item:focus .icon .first__svg {
  fill: var(--second-color);
  transition: fill var(--transition);
}

.social__item:hover .icon .second__svg,
.social__item:focus .icon .second__svg {
  fill: var(--first-color);
  transition: fill var(--transition);
}
/* 

*************************************

      CONTAINER WITH NEWSLETTER
           (FROM FOOTER)

*************************************

*/
/*
  newsletter container
*/
.footer__newsletter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
}
/*
  use new gap to contact__icon (from footer__newsletter)
*/
.footer__newsletter .contact__icon {
  gap: 12px;
}
/*
  form__input from newsletter
*/
.form__newsletter .form__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  width: 358px;
  height: 50px;
  background: #2f303a;
  padding: 15px;
  color: var(--first-color);
}
/*
  placeholder from form__input from newsletter
*/
.form__newsletter .form__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
}

/* 
=====================================
=====================================

            INDEX.HTML

=====================================
=====================================
*/

/* 

*************************************

          CONTAINER WITH 
         TITLE AND BUTTON

*************************************

*/
/* 
  container containing 
  main title and button
 */
.title__container {
  /* background of title container */
  background: #2f303a; /* if images doesn't work */
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/backgrounds/background.jpg") no-repeat center top;
  /* background-image: linear-gradient(rgba(47, 48, 58, 0.4)); */
  background-size: cover;
  /*
    to center the text and button when zoomed in
  */
  display: flex;
  flex-flow: column;
  /* positioning text and button into title container*/
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
}
/*
  main title 
*/
.title__page {
  color: var(--first-color);
  letter-spacing: var(--first-letter-spacing);
  text-transform: uppercase;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
  padding: 0 0 30px 0;
}
/* 
  button 
*/
.title__button {
  /* color and border of button */
  background: var(--second-color);
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow var(--transition);
  border-radius: var(--radius);
  /* text into bottom */
  color: var(--first-color);
  font-weight: var(--second-weight);
  font-size: 16px;
  line-height: var(--second-line-height);
  letter-spacing: var(--first-letter-spacing);
  /* other */
  width: 200px;
  height: 50px;
}

/* 

*************************************

        CONTAINER WITH FEATURES
       (FOR NOW HAS LOREM IPSUM)

*************************************

*/
/* 
  feature heading text (lorem ipsum)
*/
.feature__text {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: var(--second-letter-spacing);
  text-transform: uppercase;
}
/* 
  feature paragraph text (lorem ipsum...)
*/
.feature__description {
  color: var(--third-color);
  line-height: var(--first-line-height);
  letter-spacing: var(--second-letter-spacing);
}
/*
  positioning feature container and feature box
*/
.feature__container {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}
/*
  flexing feature box with icon, text and description
*/
.feature__box {
  display: flex;
  flex-direction: column;
  flex: 1;
}
/*
  space beetwen heading and description text
*/
.feature__container .feature__box .feature__text {
  padding-bottom: 10px;
}
/*
  positioning svg icon with feature__container

*/
.feature__icon {
  background: #f5f4fa;
  text-align: center;
  padding: 25px 100px;
  margin-bottom: 30px;
}
/* 

*************************************

     CONTAINER WITH ABOUT SECTION
          (EMPTY FOR NOW)

*************************************

*/
/* 
  about and team heading text
  have the same font styles  
*/
.about__title,
.team__title {
  /* font style */
  font-size: 36px;
  font-weight: var(--second-weight);
  line-height: 1.16;
  letter-spacing: var(--second-letter-spacing);
  /* center title */
  text-align: center;
  /* other */
  padding-bottom: 50px;
}
/*
  relative postion contanier with about us
  for about__text and positioning this to bottom into about__box
*/
.about__box {
  position: relative;
}
/*
  text into about__box 
  under the about__image 
*/
.about__text {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: var(--second-letter-spacing);
  text-transform: uppercase;
  color: #ffffff;
  padding: 27px 0;
}
/* 

*************************************

        CONTAINER WITH TEAM

*************************************

*/
/* 
  main team container
  it has all the tags with the team and heading
*/
.team__container {
  background: var(--fourth-color);
}
/*
  team card with image, 
  team name and team profession 
*/
.team__card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background: var(--first-color);
  /* shadow under the containers with a photo, 
     name and profession of the team 
  */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
/* 
  team heading text 
*/
.team__name {
  font-size: var(--text-size);
  font-weight: var(--first-weight);
  line-height: 1.187;
  letter-spacing: var(--second-letter-spacing);
  /* center text */
  text-align: center;
  padding-bottom: 10px;
}
/* 
  team paragraph text 
*/
.team__profession {
  color: var(--third-color);
  font-size: var(--text-size);
  font-weight: var(--third-weight);
  line-height: var(--first-line-height);
  letter-spacing: var(--second-letter-spacing);
  /* center text */
  text-align: center;
}
/*
  container with team__text and contact__icon 
*/
.team__info {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
/* 

*************************************

        CONTAINER WITH CUSTOMERS

*************************************

*/
/*
  tags with customers boxes
*/
.customer__team {
  display: flex;
  justify-content: center;
}
/*
  item with customer icons
*/
.customer__box {
  display: flex;
  padding: 17.71px 32px 14.25px 32px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color var(--transition), border var(--transition);
}
/*
  change bored color when user hovering or focusing customer__box
*/
.customer__box:hover,
.customer__box:focus {
  border: 1px solid var(--second-color);
  color: var(--second-color);
  transition: color var(--transition), border var(--transition);
}
/* 

*************************************

        CONTAINER BACKDROP

*************************************

*/
/*
  backdrop container
*/
.backdrop {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
}
/*
  modal container with button
*/
.modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
/*
  close button from modal container 
*/
.modal__button {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
/*
  hide backdrop class with button and modal
*/
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
/*

*************************************

        CONTAINER WITH FORM
          (FROM BACKDROP)

*************************************

*/
/*
  main container with form
*/
.form__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 40px;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
/*
  text from form__container
*/
.modal__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
/*
  sizeing form and positioning all elements 
*/
.form__container .form {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
  align-items: center;
}
/*
  labels from form__container
  its into form class
*/
.form__label {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
/*
  text into form__label
*/
.label__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

/*
  size inputs from form
*/
.form__input {
  width: 448px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
/*
  padding start to write text from user into input
*/
.form__input[type] {
  padding-left: 42px;
}
/*
  container with icon and input
  positioning relative is for a icon__svg
*/
.input__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
/*
  icon__svg with icon__input
  relocated icon to left and use margin to position 
*/
.icon__svg {
  position: absolute;
  left: 0;
  margin-left: 15px;
}
/*
  fill icon form from input
*/
.form__input:focus + .icon__svg .icon__input,
.form__input:hover + .icon__svg .icon__input {
  fill: var(--second-color);
}
/*
  change color when user hovered or focused input
*/
.form__input:focus,
.form__input:hover {
  border: 1px solid var(--second-color);
}
/*
  textarea__input size and border
*/
.textarea__input {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px;
  resize: none;
}
/*
  textarea__input placeholder 
*/
.textarea__input::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
/*
  checkbox container with regulations 
*/
.checkbox__container {
  display: flex;
  cursor: pointer;
  text-align: center;
  align-items: center;
}
/*
  checkbox input
  overflow is hidden becouse we use svg icon from icons.svg 
*/
.input__checkbox {
  margin: 0 8px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/*
  use margin and cursor to icon to svg checkbox
*/
.checkbox__icon {
  cursor: pointer;
  margin-right: 8px;
}
/*
  heading from checkbox__container
*/
.checkbox__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
/*
  to emphasize "regulations" and "Privacy Policy"
*/
.text__span {
  text-decoration: underline;
  color: #2196f3;
}

/* 
=====================================
=====================================

           PORTFOLIO.HTML

=====================================
=====================================
*/
/* 
  buttons with category
*/
.filters__button {
  /* button color and border */
  background: var(--fourth-color);
  transition: background-color var(--transition), box-shadow var(--transition),
    color var(--transition);
  border-radius: var(--radius);
  border-style: none;
  /* font style */
  color: #212121;
  font-size: var(--text-size);
  font-weight: var(--first-weight);
  letter-spacing: var(--second-letter-spacing);
  line-height: 1.6;
  /* other */
  padding: 6px 22px;
}
/* 
  change color and add shadow to buttons
  when user hover or focus them
*/
.filters__button:hover,
.filters__button:focus {
  color: var(--first-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--second-color);
  transition: background-color var(--transition), box-shadow var(--transition),
    color var(--transition);
}
/*
  button list
*/
.filters__list {
  justify-content: center;
  gap: 4px;
}
/*
  buttons display 
*/
.filters__item {
  margin: 0 4px 50px;
}
/*
  now icons from contact__icon and team__cards have clickable 
*/
.contact__icon .icon,
.projects__item,
.title__button,
.filters__button {
  cursor: pointer;
  /*
    when user hovering or focusing box with project 
    shadow will be showing around the boxes   
  */
}
.projects__item {
  transition: box-shadow var(--transition);
}
.projects__item:hover,
.projects__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: box-shadow var(--transition);
}
/* 
  projects heading 
*/
.projects__name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: var(--first-letter-spacing);
}
/* 
  projects paragraph 
*/
.projects__category {
  color: var(--third-color);
  font-size: var(--text-size);
  line-height: var(--second-line-height);
  letter-spacing: var(--second-letter-spacing);
}
/*
  border and positioning projects text (name and category)
*/
.projects__text {
  /*
    display flex to gap between projects__name and projects__category
  */
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 20px 0 20px 24px;
  border-bottom: var(--border);
  border-left: var(--border);
  border-right: var(--border);
}
/*
  image__box with relative position 
  container has image with project and text which is animated
  relative halps with positioning image__text
*/
.image__box {
  position: relative;
  overflow: hidden;
}
/*
  positioning image__text to image__box
*/
.image__text {
  position: absolute;
  background: rgba(33, 150, 243, 0.9);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: var(--second-letter-spacing);
  color: #ffffff;
  height: 100%;
  padding: 49px 24px;

  transform: translateY(100%);
  transition: transform var(--transition);
}
/*
  animation and styling image__text when user hover image__box
*/
.image__box:hover .image__text {
  transform: translateY(0);
}

/*****

TODO: POPRAWIC NEWSLETTER ORAZ PORTFOLIO NEWSLETTER

***************************************************/
