/* 
=====================================
=====================================

              GENERAL

=====================================
=====================================
*/

/* RESET
============================================= */
h1,
h2,
h6,
ul,
li,
a,
p,
span {
  padding: 0;
  margin: 0;
  user-select: none;
}

/* BODY
============================================= */
body {
  color: $fifth-color;
  font-size: 14px;
  font-family: "Roboto", "Raleway", sans-serif;
}

/* GENERAL ITEM CLASS TO ALL LI
============================================= */
.item {
  list-style: none;
}

/* GENERAL LINK CLASS TO ALL HREF
============================================= */
.link {
  text-decoration: none;
}

/* RESET FONT-SIZE
============================================= */
.projects__item,
.about__item,
.team__item,
.filters__list {
  font-size: 0;
}

/* CONTAINER (CENTERING AND WIDTH)
============================================= */
.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* CONTAINER WITH MAX-WIDTH IMAGE FROM MAIN PAGE (CENTERING AND WIDTH)
============================================= */
.container__image {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}
/* SECTION (TOP AND BOTTOM PADDING)
============================================= */
.section {
  padding: 60px 15px;
}

/* GENERAL LIST CLASS TO ALL UL
============================================= */
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

/* GENERAL TITLE CLASS FROM ALL SECTIONS FROM INDEX
============================================= */
.title {
  /* font style */

  @include text_value(
    36px,
    $third-line-height,
    $second-letter-spacing,
    $second-weight
  );
  /* center title */
  text-align: center;
  /* other */
  padding-bottom: 30px;
}

/* GENERAL CURSOR POINTER
============================================= */
.social__icon .social__svg,
.projects__item,
.button,
.filters__button {
  cursor: pointer;
}
