/* 
=====================================
=====================================

            IMPORT SASS

=====================================
=====================================
*/


/* IMPORT UTILTS 
============================================= */
@import "utils/variables";
@import "utils/mixin";


/* IMPORT GENERAL
============================================= */
@import "general";

/* IMPORT COMPONENTS
============================================= */
@import "components/header";
@import "components/footer";
@import "components/backdrop";
@import "components/icons";
@import "components/buttons";
@import "components/burger";

/* IMPORT SECTIONS
============================================= */
@import "sections/projects";
@import "sections/heading";
@import "sections/feature";
@import "sections/about";
@import "sections/team";
@import "sections/customer";


/* IMPORT MEDIA
============================================= */
@import "responsive/mobile";
@import "responsive/tablet";
@import "responsive/desktop";