/* 
=====================================
=====================================

        BACKDROP CONTAINER

=====================================
=====================================
*/

/* HIDE BACKDROP CONTAINER 
=============================================*/
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* BACKDROP CONTAINER 
=============================================*/
.backdrop {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;

  &__content {
    /* main container with form */
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  &__title {
    /* text from form */
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: &second-letter-spacing;
    color: &fifth-color;
  }
  &__form {
    /* sizeing form and positioning all elements */
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 100%;
    align-items: center;
  }
}
/* CONTAINER WITH BUTTON AND FORM
=============================================*/
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background-color: $first-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: $radius;
}

/* FORM
=============================================*/
.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 4px;

  &__label {
    /* labels from its into form class */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    /* text into form__label */
    font-weight: $third-weight;
    font-size: $modal-text-size;
    line-height: $third-line-height;
    letter-spacing: $modal-letter-spacing;
    color: $third-color;
  }

  &__input {
    /* size inputs from form */
    width: 448px;
    height: 40px;
    outline: none;
    border: 1px solid $input-color;
    border-radius: $radius;
    transition: border $time $anim-cubic;

    &:hover,
    &:focus {
      /* change color when user hovered or focused input */
      border: 1px solid $second-color;
      transition: border $time $anim-cubic;
    }
    &:hover + .form__svg .form__icon,
    &:hover + .form__svg .form__icon {
      /* fill icon form from input */
      fill: $second-color;
      transition: $time $anim-cubic;
    }
    &[type] {
      /* padding start to write text from user into input */
      padding-left: 42px;
    }
  }
  &__svg {
    /*
      form__svg with form__svg
      relocated icon to left and use margin to position 
    */
    position: absolute;
    margin-left: 15px;
  }
  &__icon {
    /* animation icon color */
    transition: fill $time $anim-cubic;
  }
}

/* TEXTAREA INPUT AND BUTTON
=============================================*/
.textarea__input {
  width: 448px;
  height: 120px;
  border: 1px solid $input-color;
  border-radius: $radius;
  padding: 12px;
  resize: none;
  &::placeholder {
    /* textarea__input placeholder */
    font-weight: $third-weight;
    font-size: $modal-text-size;
    line-height: $third-line-height;
    letter-spacing: $modal-letter-spacing;
    color: rgba(117, 117, 117, 0.5);
    user-select: none;
  }
}

/* CHECKBOX FROM REGULATIONS
=============================================*/
.checkbox {
  display: flex;
  text-align: center;
  align-items: center;
  &__input {
    /*
      checkbox input
      overflow is hidden becouse we use svg icon from icons.svg 
    */
    display: block;
    visibility: hidden;
  }
  &__svg {
    /* use margin and cursor to icon to svg checkbox */
    margin-right: 8px;
    cursor: pointer;
  }

  &__before {
    /* VISIBILITY CHECKBOX ICONS
    =============================================*/
    /*
    visible checkbox icon from class checkbox__before 
    when user dosen't checked checkbox
   */
    visibility: visible;
  }
  &__input:checked + .label__checked &__svg &__before {
    /*
      hidden checkbox icon from class checkbox__before 
      when user checked checkbox
    */
    visibility: hidden;
  }
  &__after {
    /*
      hidden checkbox icon from class checkbox__after 
      when user dosen't checked checkbox
    */
    visibility: hidden;
  }
  &__input:checked + .label__checked &__svg &__after {
    /*
      visible checkbox icon from class checkbox__after 
      when user checked checkbox
    */
    visibility: visible;
  }

  &__regulations {
    /* REGULATIONS FROM CHECKBOX
    =============================================*/
    font-weight: var(--third-weight);
    font-size: inherit;
    line-height: var(--first-line-height);
    letter-spacing: var(--second-letter-spacing);
    color: var(--third-color);
    user-select: none;
    /* to emphasize "regulations" and "privacy policy" */
    .regulations__span {
      text-decoration: underline;
      color: $second-color;
      cursor: pointer;
    }
  }
}
