.mobile {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: $first-color;

  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    padding: 48px 40px;
  }
  &__burger {
    visibility: visible;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 40px;

    border: none;
    background-color: transparent;
    outline: none;
    @include anim__transition(fill, inherit);

    &:hover,
    &:focus {
      cursor: pointer;
      @include anim__transition(fill, $second-color);
    }
  }

  .navigation {
    display: flex;
    &__list {
      flex-direction: column;
      justify-content: flex-start;
    }
    &__link {
      font-weight: 500;
      font-size: 40px;
      line-height: 47px;
      letter-spacing: 0.02em;

      color: #212121;
      &:hover,
      &:focus {
        @include anim__transition(color, $second-color);
      }
    }
  }

  .contact {
    display: flex;
    &__list {
      flex-direction: column-reverse;
      justify-content: center;
    }

    &__link {
      font-weight: 500;
      font-size: 34px;
      line-height: 40px;
      /* identical to box height */
      color: #757575;
      letter-spacing: 0.02em;
      &:hover,
      &:focus {
        @include anim__transition(color, $second-color);
      }
    }
    &__item:first-child .contact__link {
      font-size: 24px;
      line-height: 28px;
    }
  }

  &__contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 64px;
  }

  .social {
    &__link {
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      /* identical to box height, or 122% */

      letter-spacing: 0.02em;

      color: #2196f3;
    }
  }
}
