/*
BUTTONS FROM PORTFOLIO.HTML
=============================================*/
.filters {
  /* 
      buttons with category
      */
  &__button {
    /* button color and border */
    background: $fourth-color;
    transition: background-color $time $anim-cubic, box-shadow $time $anim-cubic,
      color $time $anim-cubic;
    border-radius: $radius;
    border-style: none;
    /* font style */
    color: $fifth-color;
    font-size: $text-size;
    font-weight: $first-weight;
    letter-spacing: $second-letter-spacing;
    line-height: 1.6;
    /* other */
    padding: 6px 22px;
    /* 
      change color and add shadow to buttons
      when user hover or focus them
      */
    &:hover,
    &:focus {
      color: $first-color;
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
        0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
      background-color: $second-color;
      transition: background-color $time $anim-cubic,
        box-shadow $time $anim-cubic, color $time $anim-cubic;
    }
  }
  /*
    button list
    */
  &__list {
    justify-content: center;
    gap: 4px;
  }
  /*
      buttons display 
      */
  &__item {
    margin: 0 4px 50px;
  }
}

/*
GENERAL BUTTONS FROM HEADING, FOOTER AND FORM
=============================================*/
.button {
  /* color and border of button */
  background: $second-color;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: box-shadow $time $anim-cubic;
  border-radius: $radius;
  /* text into bottom */
  color: $first-color;
  font-weight: $second-weight;
  font-size: 16px;
  line-height: $second-line-height;
  letter-spacing: $first-letter-spacing;
  /* other */
  width: 200px;
  height: 50px;
  user-select: none;
}

/*
BUTTON FROM NEWSLETTER
=============================================*/
/* use flex to button for the arrangement of elements (text and svg) */
.newsletter__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

/*
BUTTON FROM MODAL CONTAINER
=============================================*/
/* close button from modal container */
.modal__button {
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background-color: $first-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}
