/* 
=====================================
=====================================

            BUTTONS

=====================================
=====================================
*/

/* BUTTONS FROM PORTFOLIO.HTML
=============================================*/
.filters {
  &__button {
    /* buttons with category */
    /* button color and border */
    @include triple_anim_transition(
      background-color,
      $fourth-color,
      color,
      $fifth-color,
      box-shadow,
      0
    );

    border-radius: $radius;
    border-style: none;
    /* font style */
    @include text_value($text-size, 1.6, $second-letter-spacing, $first-weight);

    /* other */
    padding: 6px 22px;

    &:hover,
    &:focus {
      /* 
        change color and add shadow to buttons
        when user hover or focus them
      */
      @include triple_anim_transition(
        background-color,
        $second-color,
        color,
        $first-color,
        box-shadow,
        (
          0px 3px 1px rgba(0, 0, 0, 0.1),
          0px 1px 2px rgba(0, 0, 0, 0.08),
          0px 2px 2px rgba(0, 0, 0, 0.12)
        )
      );
    }
  }
  &__list {
    /* button list */
    justify-content: center;
    gap: 8px;
    margin-bottom: 40px;
  }
}

/* GENERAL BUTTONS FROM HEADING, FOOTER AND FORM
=============================================*/
.button {
  /* color and border of button */
  background: $second-color;
  border-style: none;
  @include anim__transition(box-shadow, 0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: $radius;
  /* text into bottom */
  color: $first-color;
  @include text_value(
    16px,
    $second-line-height,
    $first-letter-spacing,
    $second-weight
  );
  /* other */
  @include box_size(200px, 50px);
  user-select: none;
}

/* BUTTON FROM NEWSLETTER
=============================================*/
.newsletter__button {
  /* use flex to button for the arrangement of elements (text and svg) */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

/* BUTTON FROM MODAL CONTAINER
=============================================*/
.modal__button {
  /* close button from modal container */
  position: absolute;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  top: 8px;
  right: 8px;
  @include box_size(30px, 30px);
  background-color: $first-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  /* animation fill color */
  & .modal__icon {
    @include anim__transition(fill, inherit);
  }

  /* animation fill color */
  &:hover .modal__icon,
  &:focus .modal__icon {
    fill: $second-color;
    @include anim__transition(fill, $second-color);
  }
}
