/* 

*************************************

        CONTAINER WITH FEATURES
       (FOR NOW HAS LOREM IPSUM)

*************************************

*/
/*
  positioning feature container and feature box
*/
.feature {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;

  /* flexing feature box with icon, text and description */
  &__item {
    display: flex;
    flex-direction: column;
    flex: 1;

  }
  /* positioning svg icon with feature__container */
  &__icon {
    background: #f5f4fa;
    text-align: center;
    padding: 25px 100px;
    margin-bottom: 30px;
  }

  /* feature heading text (lorem ipsum) */
  &__text {
    font-size: inherit;
    line-height: 1.14;
    letter-spacing: $second-letter-spacing;
    text-transform: uppercase;
    /* space beetwen heading and description text */
    padding-bottom: 10px;
  }

  /* feature paragraph text (lorem ipsum...) */
  &__description {
    color: $third-color;
    line-height: $first-line-height;
    letter-spacing: $second-letter-spacing;
  }
}