/* 
=====================================
=====================================

          FOOTER SECTION

=====================================
=====================================
*/

.footer {
  background: $footer-color;
  .container {
    display: flex;
    gap: 60px;
    flex-direction: column;
  }
  &__box {
    /*
      footer padding and gap to flex list class and logo__container
      space bettween top and bottom 
    */
    display: flex;
    gap: 60px;
    align-items: center;
    flex-direction: column;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* container with logo and contact into footer container */
    .logo {
      /* footer logo color and padding */
      @include logo__container($first-color);
    }
  }

  &__text {
    /* text into footer__social */
    @include text_value(inherit, 1.142, $second-letter-spacing, $second-weight);
    text-transform: uppercase;
    color: $first-color;
  }

  .contact {
    /*
    position contact list in footer container
    and overwritting gap from the list class
    */
    &__list {
      flex-flow: column;
      align-items: center;
      gap: 8px;
    }
    &__item {
      color: $first-color;
      font-style: normal;
      @include footer__contact__value();
    }
    &__link {
      color: rgba($color: $first-color, $alpha: 0.6);
      @include footer__contact__value();
    }
  }

  &__social {
    /* container with social__text and icons */
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    .social__icon {
      display: flex;
      padding: 0;
      @include social__icons(rgba(255, 255, 255, 0.1), $first-color);
    }
  }
}

/* NEWSLETTER 
=============================================*/
.newsletter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  /* container with form and button */
  &__icon {
    flex-wrap: wrap;
    gap: 20px;
  }

  /* input form */
  .form__input {
    width: calc(100vw - 30px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: $radius;

    background: $footer-color;
    padding: 15px;
    color: $first-color;

    /* placeholder input */
    &::placeholder {
      @include text_value(
        $text-size,
        1.25,
        $second-letter-spacing,
        $third-weight
      );
      display: flex;
      user-select: none;
    }
  }
}
