/* 
=====================================
=====================================

          FOOTER SECTION

=====================================
=====================================
*/


.footer {
  background: $footer-color;

  &__box {
    /*
      footer padding and gap to flex list class and logo__container
      space bettween top and bottom 
    */
    display: flex;
    justify-content: space-between;
  }

  &__info {
    /* container with logo and contact into footer container */
    padding: 60px 0;
    .logo {
      /* footer logo color and padding */
      padding-bottom: 20px;
      @include logo__container($first-color);
    }
  }

  &__text {
    /* text into footer__social */
    font-weight: $second-weight;
    line-height: 1.142;
    letter-spacing: $second-letter-spacing;
    text-transform: uppercase;
    color: $first-color;
  }

  .contact {
    /*
    position contact list in footer container
    and overwritting gap from the list class
    */
    &__list {
      flex-flow: column;
      gap: 9px;
    }
    &__item {
      color: $first-color;
      font-style: normal;
      @include footer__contact__value();
    }
    &__link {
      color: rgba($color: $first-color, $alpha: 0.6);
      @include footer__contact__value();
    }
  }

  &__social {
    /* container with social__text and icons */
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 72px 0 100px 0;

    .social__icon {
      display: flex;
      padding: 0;
      @include social__icons(rgba(255, 255, 255, 0.1), $first-color);
    }
  }
}

/* NEWSLETTER 
=============================================*/
.newsletter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  /* container with form and button */
  &__icon {
    flex-wrap: wrap;
    gap: 12px;
  }

  /* input form */
  .form__input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: $radius;
    width: 358px;
    height: 50px;
    background: $footer-color;
    padding: 15px;
    color: $first-color;

    /* placeholder input */
    &::placeholder {
      font-weight: $third-weight;
      font-size: $text-size;
      line-height: 1.25;
      letter-spacing: $second-letter-spacing;
      display: flex;
      user-select: none;
    }
  }
}
