/* 
=====================================
=====================================

              HEADER

=====================================
=====================================
*/
.wrapper {
  /* space between link__container and contact__container */
  justify-content: space-between;
}
.header {
  /* Header Container */
  background-color: $first-color;
  border-bottom: 1px solid #ececec;
  /* container with logo, navigation and contacts */

  .container {
    display: flex;
    align-items: center; /* center all links */
    padding: 20px 0; /* header padding space between top and bottom */
  }
  &__links {
    /* container with logo and navigation links */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: calc(6vw + 2px);
  }

  .contact {
    /* Contact Container */
    &__list {
      gap: 25px; /* overwritting gap from the list class */
    }
    &__link {
      /* contact link text */
      font-weight: $first-weight;

      @include text_value(inherit, 1.14, 0.02em);
      @include anim__transition(color, $third-color);
      
      display: flex;
      gap: 10px;
      align-items: center;
      &:hover,
      &:focus {
        @include anim__transition(color, $second-color);
      }
    }
  }
}

.logo {
  /*  Logo Container */
  @include logo__container(#000000);
}

.navigation {
  /*  Navigation Container*/
  &__link {
    /* navigation link text */
    font-weight: $first-weight;
    @include anim__transition(color, $fifth-color);
    @include text_value(inherit, 1.14, 0.02em);
    &:hover,
    &:focus {
      @include anim__transition(color, $second-color);
    }
  }
}

.active__link {
  /* Active Link */
  position: relative;
  display: flex;
  flex-wrap: wrap;
  color: $second-color;
  &::after {
    /* this is a underline when user is on the page */
    display: flex;
    position: absolute;
    bottom: -175%;
    content: "";
    background-color: $second-color;
    border-radius: 2px;
    @include box_size(100%, 4px);
  }
}
