@media screen and (min-width: 1200px) {
  /* SECTION (TOP AND BOTTOM PADDING)
============================================= */
  .section {
    padding: 94px 15px;
  }

  .title {
    /* other */
    padding-bottom: 50px;
  }
  /* container with icons */
  .icons__container {
    padding: 0 0 30px 0;
  }
  .header {
    /* Header Container */
    height: 80px;
    &__links {
      position: relative;
      gap: 93px;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    .logo {
      &__link {
        font-size: 26px;
        line-height: 1.19;
      }
    }
    .contact {
      visibility: visible;
      position: absolute;
      right: 15px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &__list {
        gap: 30px;
        flex-direction: row;
      }
    }

    .navigation {
      visibility: visible;
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
    }
  }

  .heading {
    /* container containing main title and button */
    /* background of title container */
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/backgrounds/background.jpg") no-repeat center top;
    background-size: cover;
    padding: 200px 0;
    top: 0;
    &__title {
      @include text_value(44px, 1.4, $first-letter-spacing, 900);
    }
  }
  .contact {
    /* Contact Container */

    &__link {
      /* contact link text */
      gap: 10px;
    }
  }
  .feature {
    &.section {
      padding-bottom: 94px;
    }
    &__text {
      text-align: start;
    }
  }

  .about {
    visibility: visible;
    height: 100%;
  }

  .customer {
    &__item {
      width: 170px;
    }
  }

  .footer {
    .container {
      flex-direction: row;
      align-items: flex-start;
    }
    .contact {
      &__list {
        align-items: normal;
        gap: 9px;
      }
    }
    &__box {
      flex-direction: row;
      gap: 70px;
    }
    &__info {
      align-items: normal;
    }
    &__social {
      align-items: normal;
    }
  }
  /* NEWSLETTER 
=============================================*/
  .newsletter {
    /* input form */
    align-items: normal;
    .form__input {
      @include box_size(358px, 50px);

      &[type] {
        /* padding start to write text from user into input */
        padding-left: 42px;
      }
    }
    /* container with form and button */
    &__icon {
      display: flex;
      flex-direction: row;
      gap: 12px;
    }
  }
  /* CONTAINER (CENTERING AND WIDTH)
============================================= */
  .container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  /* CONTAINER WITH MAX-WIDTH IMAGE FROM MAIN PAGE (CENTERING AND WIDTH)
============================================= */
  .container__image {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
  }
  .burger {
    visibility: hidden;
  }

  /* BACKDROP CONTAINER 
=============================================*/
  .backdrop {
    &__content {
      height: 581px;
    }
  }
  /* CONTAINER WITH BUTTON AND FORM
=============================================*/
  .modal {
    width: 528px;
    min-height: 581px;
    .form__input {
      /* size inputs from form */
      @include box_size(448px, 40px);
    }
    .checkbox {
      padding: 10px 0 12px 0;

      &__regulations {
        /* REGULATIONS FROM CHECKBOX
    =============================================*/

        font-size: inherit;
        line-height: $first-line-height;
      }
    }
    /* TEXTAREA INPUT AND BUTTON
  =============================================*/
    .textarea__input {
      @include box_size(448px, 120px);
    }
  }

  .filters {
    &__list {
      margin-bottom: 50px;
    }
  }

  .projects {
    &__list {
      display: flex;
      justify-content: baseline;
    }
  }
}
