@media screen and (max-width: 480px) {
  .header {
    .navigation {
      position: absolute;
      visibility: hidden;
      height: 0;
    }

    .contact {
      position: absolute;
      visibility: hidden;
      height: 0;
    }

    .burger {
      visibility: visible;
      position: absolute;
      right: 10px;
      top: 10px;
      height: 40px;

      border: none;
      background-color: transparent;
      outline: none;
      @include anim__transition(fill, inherit);

      &:hover,
      &:focus {
        cursor: pointer;
        @include anim__transition(fill, $second-color);
      }
    }
  }
}
