@media screen and (min-width: 768px) {
  .header {
    /* Header Container */
    height: 80px;
    &__links {
      position: relative;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .logo {
      &__link {
        font-size: 24px;
        line-height: 1.16;
      }
    }
    .navigation {
      .active__link {
        &::after {
          z-index: 1;
          bottom: -33px;
        }
      }
    }
    .contact {
      position: relative;
      visibility: visible;
      right: 15px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &__link {
        gap: 8px;
      }
    }

    .navigation {
      visibility: visible;
      position: relative;
      height: 100%;
      display: flex;
      align-items: center;
    }
    .list {
      gap: 60px;
    }
    .contact__list {
      flex-direction: column;
      gap: 10px;
    }

    .burger {
      visibility: hidden;
      height: 0;
    }
  }

  .mobile {
    visibility: hidden;
    display: none;
  }
  .heading {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/backgrounds/background-768.jpg") no-repeat center top;

    &__title {
      @include text_value(26px, 1.6, $first-letter-spacing, 900);
    }
  }

  .footer {
    padding: 65px 0;
    &__box {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
    }

    &__info {
      align-items: center;
    }

    .contact {
      &__list {
        align-items: center;
        gap: 8px;
      }
    }
    &__social {
      margin: 0;
      align-items: center;
    }
  }
  .newsletter {
    align-items: center;
    .form__input {
      @include box_size(450px, 50px);
      &[type] {
        /* padding start to write text from user into input */
        padding-left: 16px;
      }
    }

    &__icon {
      gap: 20px;
      flex-direction: column;
    }
  }

  .customer {
    &__list {
      justify-content: center;
      display: flex;
    }
    &__item {
      width: 226px;
      justify-content: center;
    }
  }

  .feature {
    align-items: center;
    &.section {
      padding-bottom: 45px;
    }
    &__text {
      text-align: start;
    }
    &__item {
      width: 100vw;
    }
  }
  .about {
    visibility: hidden;
    height: 0;
  }
  .list {
    justify-content: center;
  }
  /* CONTAINER (CENTERING AND WIDTH)
============================================= */
  .container {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  /* CONTAINER WITH MAX-WIDTH IMAGE FROM MAIN PAGE (CENTERING AND WIDTH)
============================================= */
  .container__image {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
  }
  .filters {
    &__list {
      margin-bottom: 30px;
    }
  }
}
