@media screen and (min-width: 481px) and (max-width: 768px) {
  .header {
    .container {
      padding: 26px 15px;
    }
    .logo {
      &__link {
        font-size: 24px;
        line-height: 1.16;
      }
    }
    .navigation {
      .active__link {
        &::after {
          bottom: -2.9em;
        }
      }
    }

    .contact__list {
      flex-direction: column;
      gap: 10px;
    }

    .burger {
      visibility: hidden;
      height: 0;
    }
  }
  .heading {
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/backgrounds/background-768.jpg") no-repeat center top;
    padding: 118px 0;

    &__title {
      @include text_value(26px, 1.6, $first-letter-spacing, 900);
    }
  }

  .footer {
    padding: 60px 0;
    .container {
      gap: 60px;
      flex-direction: column;
    }
    &__box {
      justify-content: space-around;
    }

    &__info {
      align-items: center;
    }

    .contact {
      &__list {
        align-items: center;
        gap: 8px;
      }
    }
    &__social {
      margin: 0;
      align-items: center;
    }
  }
  .newsletter {
    align-items: center;
    .form__input {
      @include box_size(450px, 50px);
    }
    &__icon {
      gap: 20px;
    }
  }
  .icons__container {
    padding: 0;
  }
  .section {
    padding: 60px 0;
  }
  .customer {
    &__list {
      justify-content: center;
    }
    &__item {
      padding: 16px 60px;
    }
  }

  .feature {
    padding: 0 15px;
    align-items: center;
  }
  .about {
    visibility: hidden;
    height: 0;
  }
  .list {
    justify-content: center;
  }
}
