/* 
=====================================
=====================================

          TABLET MEDIA
        MINIMUM WIDTH 768px

=====================================
=====================================
*/

@media screen and (min-width: 768px) {
  /* CONTAINER (CENTERING AND WIDTH)
============================================= */
  .container {
    max-width: 768px;
  }
  /* CONTAINER WITH MAX-WIDTH IMAGE FROM MAIN PAGE (CENTERING AND WIDTH)
============================================= */
  .container__image {
    max-width: 768px;
  }
  .filters {
    &__list {
      margin-bottom: 30px;
    }
  }
  .header {
    /* Header Container */
    height: 80px;
    .logo {
      &__link {
        /* new logo size (768px) */
        font-size: 24px;
        line-height: 1.16;
      }
    }
    .navigation {
      /*  Navigation Container*/
      .active__link {
        /* Active Link */
        &::after {
          /* this is a underline when user is on the page */
          z-index: 1;
        }
      }
    }
    .contact {
      /* Contact Container */
      position: relative;
      /* contant is shown when the media has a minimum 768px resolution */
      visibility: visible;
      right: 15px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      &__link {
        /* contact link text */
        gap: 8px;
      }
    }

    .navigation {
      /*  Navigation Container*/
      /* nav is shown when the media has a minimum 768px resolution */
      visibility: visible;
      height: 100%;
      position: relative;
      display: flex;
      align-items: center;
    }
    .list {
      gap: 60px;
    }
    .contact__list {
      flex-direction: column;
      gap: 10px;
    }

    .burger {
      visibility: hidden;
      height: 0;
    }
  }

  .mobile {
    visibility: hidden;
    display: none;
  }
  .heading {
    /* container containing main title and button */
    background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../images/backgrounds/background-768.jpg") no-repeat center top;
  }

  /* 2x screens, retina */
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .heading {
      background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/backgrounds/retina/background-768@2.jpg") no-repeat
          center top;
      background-size: cover;
    }
  }

  .footer {
    &__box {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
    }
  }

  .newsletter {
    /* container with form and button */
    &__icon {
      padding: 0;
      flex-direction: column;
    }
  }

  .customer {
    /* tags with customers boxes */
    &__item {
      /* item with customer icons */
      width: 226px;
    }
  }

  .feature {
    /* positioning feature container and feature box */
    align-items: center;
    &.section {
      padding-bottom: 45px;
    }
    &__text {
      /* feature heading text (lorem ipsum) */
      text-align: start;
    }
    &__item {
      /* flexing feature box with icon, text and description */
      width: 100vw;
    }
  }
}
