@mixin box_size($width ,$height) {
  width: $width;
  height: $height;
}

/* FOOTER CONTACT 
============================================= */
@mixin footer__contact__value {
  letter-spacing: $second-letter-spacing;
  font-weight: $third-weight;
  line-height: $first-line-height;
}

/* LOGO PLACEHOLDER 
============================================= */
%logo {
  font-family: "Raleway";
  font-size: 26px;
  font-weight: $second-weight;
  letter-spacing: $second-letter-spacing;
}

/* LOGO MIXIN
================================================*/
@mixin logo__container($logo-color) {
  .logo__link {
    @extend %logo;
    color: $logo-color;
  }
  .logo__web {
    /* span color */
    color: $second-color;
  }
}

/* SOCIAL MIXIN
================================================*/

@mixin social__icons($first, $second) {
  /*
    socials icons:
    * instagram
    * tweeter 
    * facebook
    * linkedin 
  */
  gap: 10px;

  .social__item {
    .first__svg {
      @include anim__transition(fill, $first);
    }
    .second__svg {
      @include anim__transition(fill, $second);
    }

    &:hover,
    &:focus {
      .first__svg {
        
      @include anim__transition(fill, $second-color);
      }
      .second__svg {
        
      @include anim__transition(fill, $first-color);
      }
    }
  }
}


/* TEXT VALUE
================================================*/
@mixin text_value($font-value, $line-value, $letter-value) {
  font-size: $font-value;
  line-height: $line-value;
  letter-spacing: $letter-value;
}

/* TRANSITION ANIMATION
================================================*/
@mixin anim__transition($first-property, $first-value) {
  #{$first-property}: $first-value;
  transition: #{$first-property} $time $anim-cubic;
}

@mixin second_anim_transition(
  $first-property,
  $first-value,
  $second-property,
  $second-value
) {
  #{$first-property}: $first-value;
  #{$second-property}: $second-value;
  transition: #{$first-property} $time $anim-cubic,
    #{$second-property} $time $anim-cubic;
}

@mixin triple_anim_transition(
  $first-property,
  $first-value,
  $second-property,
  $second-value,
  $third-property,
  $third-value
) {
  #{$first-property}: $first-value;
  #{$second-property}: $second-value;
  #{$third-property}: $third-value;
  transition: #{$first-property} $time $anim-cubic,
    #{$second-property} $time $anim-cubic, #{$third-property} $time $anim-cubic;
}
