/* VARIABLES  
=============================================*/
$first-color: #ffffff;
$second-color: #2196f3;
$third-color: #757575;
$fourth-color: #f5f4fa;
$fifth-color: #212121;
$footer-color: #2f303a;
$border-color: #eeeeee;
$input-color: rgba(33, 33, 33, 0.2);
  
$text-size: 16px;
$second-text-size: 14px;
$modal-text-size: 12px;
$first-line-height: 1.7;
$second-line-height: 1.9;
$third-line-height: 1.16;
  
$first-weight: 500;
$second-weight: 700;
$third-weight: 400;
$radius: 4px;
$first-letter-spacing: 0.06em;
$second-letter-spacing: 0.03em;
$modal-letter-spacing: 0.01em;
  
$time: 0.25s;
$anim-cubic: cubic-bezier(0.4, 0, 0.2, 1);
