/* 
=====================================
=====================================

     CONTAINER WITH ABOUT SECTION
          (EMPTY FOR NOW)

=====================================
=====================================
*/

.about {
  &__item {
    /*
    relative postion contanier with about us
    for about__text and positioning this to bottom into about__box
    */
    position: relative;
  }
  &__text {
    /*
    text into about__box 
    under the about__image 
    */
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(47, 48, 58, 0.8);
    text-align: center;

    @include text_value($second-text-size, 1.14, $second-letter-spacing);
    text-transform: uppercase;
    color: $first-color;
    padding: 27px 0;
  }
}
