/* 
=====================================
=====================================

        CONTAINER WITH CUSTOMERS

=====================================
=====================================
*/

.customer {
  /* tags with customers boxes */
  &__list {
    display: flex;
    justify-content: center;
  }
  &__item {
    /*
    item with customer icons
    */
    display: flex;
    padding: 17.71px 32px 14.25px 32px;
    border: 1px solid #afb1b8;
    border-radius: $radius;
    color: #afb1b8;
    transition: color $time $anim-cubic, border $time $anim-cubic;
    &:hover,
    &:focus {
      /*
      change bored color when user hovering or focusing customer__item
      */
      border: 1px solid $second-color;
      color: $second-color;
      transition: color $time $anim-cubic, border $time $anim-cubic;
    }
  }
}
