/* 
=====================================
=====================================

        CONTAINER WITH FEATURES
       (FOR NOW HAS LOREM IPSUM)

=====================================
=====================================
*/

.feature {
  /* positioning feature container and feature box */
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0;

  &__item {
    /* flexing feature box with icon, text and description */
    display: flex;
    flex-direction: column;
    flex: 1;

  }
  &__icon {
    /* positioning svg icon with feature__container */
    background: #f5f4fa;
    text-align: center;
    padding: 25px 100px;
    margin-bottom: 30px;
    border-radius: $radius;
  }

  &__text {
    /* feature heading text (lorem ipsum) */
    @include text_value(inherit, 1.14, $second-letter-spacing, 700);
    text-transform: uppercase;
    /* space beetwen heading and description text */
    padding-bottom: 10px;
    text-align: center;
  }

  &__description {
    /* feature paragraph text (lorem ipsum...) */
    color: $third-color;
    @include text_value(inherit, $first-line-height, $second-letter-spacing, 400);
  }
}