/* 
=====================================
=====================================

       MAIN HEADING FROM INDEX

=====================================
=====================================
*/

.heading {
  /* container containing main title and button */
  /* background of title container */
  background: $footer-color; /* if images doesn't work */
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url("../images/backgrounds/background.jpg") no-repeat center top;
  /* background-image: linear-gradient(rgba(47, 48, 58, 0.4)); */
  background-size: cover;
  /* to center the text and button when zoomed in */
  display: flex;
  flex-flow: column;
  /* positioning text and button into title container*/
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 200px 0;
  &__title {
    /* main title */
    color: $first-color;
    text-transform: uppercase;

    @include text_value(44px, 1.4, $first-letter-spacing);

    font-weight: 900;
    padding: 0 0 30px 0;
  }
}
