/* 
=====================================
=====================================

       CONTAINER WITH PROJECTS
      (FOR NOW HAS LOREM IPSUM)

=====================================
=====================================
*/

.projects {
  &__list {
    display: flex;
  }
  &__item {
    display: none;
    /*
    when user hovering or focusing box with project 
    shadow will be showing around the boxes   
    */
    transition: box-shadow $time $anim-cubic;

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      transition: box-shadow $time $anim-cubic;
    }
    &.show {
      /* show all projects from category (when class show is on the container)*/
      display: block;
    }
  }
  &__text {
    /* border and positioning projects text (name and category) */
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 20px 0 20px 24px;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
  }
  &__name {
    /* projects heading */
    @include text_value(18px, 2, $first-letter-spacing, 700);
  }
  &__category {
    /* projects paragraph */
    color: $third-color;
    @include text_value(
      $text-size,
      $second-line-height,
      $second-letter-spacing,
      400
    );
  }
  .image {
    /*
      projects__box with relative position 
      container has image with project and text which is animated
      relative halps with positioning image__text
    */
    position: relative;
    overflow: hidden;

    &__text {
      /* positioning image__text to image__box */
      position: absolute;
      background: rgba(33, 150, 243, 0.9);
      font-style: normal;
      @include text_value(18px, 1.55, $second-letter-spacing, $third-weight);
      color: $first-color;
      height: 100%;
      padding: 49px 24px;

      transform: translateY(101%);
      transition: transform $time $anim-cubic;
    }
    &:hover .image__text {
      /* animation and styling image__text when user hover image__box */
      transform: translateY(0);
    }
  }
}
