/* 
=====================================
=====================================

        CONTAINER WITH TEAM

=====================================
=====================================
*/

/* 
  main team container
  it has all the tags with the team and heading
*/
.team {
  background: $fourth-color;

  &__item {
    /* team card with image, team name and team profession */
    display: flex;
    flex-direction: column;
    gap: 30px;
    background: $first-color;
    /* shadow under the containers with a photo, 
    name and profession of the team */
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  &__info {
    /* container with team__text and contact__icon */
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  &__name {
    /* team heading text */

    @include text_value($text-size, 1.187, $second-letter-spacing);

    font-weight: $first-weight;
    /* center text */
    text-align: center;
    padding-bottom: 10px;
  }

  &__profession {
    /* team paragraph text */
    color: $third-color;
    font-weight: $third-weight;

    @include text_value($text-size, $first-line-height, $second-letter-spacing);
    /* center text */
    text-align: center;
  }

  .social__list {
    /* icons into team boxes */
    /* mixin */
    @include social__icons($first-color, #afb1b8);
  }
}
